@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #5B8048;
  --blue-color: #164189;
  --yellow-color: #DAC176;
  --grey-color: #8C9AA3;
  --text-color: #1a2428;
  --bg-color: #fff;
}


body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
  padding: 20px 100px;
  transition: 0.5s;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  column-gap: 0.5rem;
}

.logo img {
  height: 2rem;
}

.navbar {
  display: flex;
  column-gap: 0.5rem;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 0.5rem 1rem;
}

.navbar a:hover, 
.navbar .home-active {
  background-color: var(--blue-color);
  border-radius: 5rem;
  color: var(--bg-color);
  transition: background 0.5s;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/*CONTEUDO*/
#catologo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; /* Espaçamento entre os itens */
    background-color: #000000;
    border-radius: 2em;
    height: auto;
    align-content: center;
}
.produto{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width:128px;
    border-radius: 1em;
}
a.link-c{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
a.link-c:hover{
    color: rgb(0, 60, 255);
}



/*PRODUTO*/

/*FOOTER*/

/*Barra de busca*/

/* determinei a largura e comprimento da caixa */
.buscar-box{ 
  height: 64px;
  width: 64px;
  background-color: #1c54b3;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: 2s;
  border-radius: 1em;
}
/* aumenta ao clicar no icone da lupa */
.buscar-box.ativar{
  width: 400px;
}
/* Tamanho e alinhamento dos 2 icones */
.buscar-box .lupa, .buscar-box .fechar{
  min-width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Tamanho e margem do X */
.buscar-box .fechar i{
  font-size: 30px;
  margin-left: 10px;
}
/* Tamanho da lupa */
.buscar-box .lupa i{
  font-size: 36px;
}
/* Conteiner do input */
.buscar-box .buscar{
  position: absolute;
  left: 64px;
  height: 100%;
  width: calc(100% - 100px);
  line-height: 64px;
}
/* Retirando decoração e mudando a cor */
.buscar-box .buscar input{
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #1c54b3;
  color: white;
}
/* Texto quando não tem nada escrito */
::placeholder{
  color: #ffffffb8;
}